{{ $size := .size}}
<!-- Identifiers -->
{{ $links := dict
  "Debian" "https://qa.debian.org/developer.php?login=%s"
  "GitHub" "https://github.com/%s"
  "LinkedIn" "https://www.linkedin.com/in/%s"
  "ORCID" "https://orcid.org/%s"
  "ResearchGate" "https://www.researchgate.net/profile/%s"
  "https://mas.to" "https://mas.to/%s"
  "DOI" "https://doi.org/%s"
}}
{{ $icons := dict
  "Debian" "mdi-debian"
  "GitHub" "github"
  "LinkedIn" "linkedin"
  "ORCID" "orcid"
  "ResearchGate" "researchgate"
  "https://mas.to" "mastodon"
  "DOI" "doi"
}}
{{ $identifiers := .term.Params.identifiers | default (slice) }}
{{ with .term.Params.doi }}
  {{ $identifiers = append $identifiers (slice (dict
    "creator" "DOI"
    "notation" .
  )) }}
{{ end }}

{{ with $identifiers }}
  <span class="text-{{ $size }} inline-block align-middle" style=" line-height: 1; border-left: 1px solid grey; padding-left: 0.5em; margin-left: 0.5em;">
  {{ range . }}
    {{ $notation := .notation }}
    {{ $name := "" }}
    {{ if reflect.IsMap .creator }}
      {{ $name = index .creator "name" }}
    {{ else }}
      {{ $name = .creator }}
    {{ end }}
    <span class="group inline-flex items-center">
      {{ if and $name (isset $links $name) (isset $icons $name) }}
        <a
          href="{{ printf (index $links $name) $notation }}"
          title="{{ $name }}"
          target="_blank"
          style="text-decoration: none;"
          >
            <span
              class="group-dark:hover:text-primary-400 transition-colors group-hover:text-primary-600 inline-flex items-center"
              style="line-height: 1;"
            >
              {{- partial "icon.html" (index $icons $name) -}}
            </span>
        </a>
      {{ end }}
    </span>
  {{ end }}
  </span>
{{ end }}