{{ with .Params.license }}
  <div class="mb-2 flex flex-wrap gap-1">
    <span class="ms-1 border-primary-400 px-1 py-[1px] text-xs font-normal dark:border-primary-600">
      <em>License:</em>
    </span>
    {{ range . }}
      <span class="ms-1 rounded-md border border-primary-400 px-1 py-[1px] text-xs font-normal text-primary-700 dark:border-primary-600 dark:text-primary-400">
        <a style="text-decoration: none;" target="_blank" href="{{ .url }}">{{ .label }}</a>
      </span>
    {{ end }}
  </div>
{{ end }}