{{ $term := .term }}
{{ $taxonomy := .taxonomy }}
{{ $display := .display }}
{{ with $term.GetTerms $taxonomy }}
  <div class="mb-2 flex flex-wrap gap-1">
    <span class="ms-1 border-primary-400 px-1 py-[1px] text-xs font-normal dark:border-primary-600">
      <em>{{ $display }}:</em>
    </span>
    {{ range . }}
      {{ if .Page.Params.Title }}
      <span class="ms-1 rounded-md border border-primary-400 px-1 py-[1px] text-xs font-normal text-primary-700 dark:border-primary-600 dark:text-primary-400">
        <a style="text-decoration: none;" href="{{ .Permalink }}">{{ .Title }}</a>
      </span>
      {{ else }}
        {{ $termID := .Title }}
        {{ $match := newScratch }}
        {{ range $index, $items := $term.Params.author }}
          {{ $authorID := replace .pid "xyzrins:persons/" "" }}
          {{ if eq (lower $authorID) (lower $termID) }}
            {{ $match.Set "author" . }}
          {{ end }}
        {{ end }}
        <span class="ms-1 rounded-md border border-neutral-400 px-1 py-[1px] text-xs font-normal text-neutral-700 dark:border-neutral-600 dark:text-neutral-400">
          {{ with $match.Get "author" }}
          {{ .given_name }} {{ .family_name }}
        {{ else }}
          {{ $termID }}
        {{ end }}
        </span>
      {{ end }}
    {{ end }}
  </div>
{{ end }}