---
title: "{{ title }}"
params:
  graphRootNodePID: {{ pid }}
---

{{ description }}

{% if part_of -%}Part of:
{% for item in part_of -%}
- [{{ item.title }}](/{{ item.pid.replace('xyzrins:', '') }})
{% endfor %}
{% endif -%}
