---
title: {{ given_name }} {{ family_name }}
params:
  graphRootNodePID: {{ pid }}
{%- set fields = ["given_name", "family_name", "identifiers", "description"] %}
{%- set p = {} %}
{%- for f in fields %}
  {%- if f in __rec and __rec[f] %}
    {%- set _ = p.update({f: __rec[f]}) %}
  {%- endif %}
{%- endfor %}
  {{ p | toyaml | indent(2) | trim }}
---
