---
title: "{{ title }}"
persons:
{% for ass in associated_with if ass.object.schema_type == "xyzri:XYZPerson" -%}
- {{ part_of.pid|replace('xyzrins:persons/', '') }}
{% endfor -%}
---

{{ description }}

{% if part_of is defined %}This project is part of [{{ part_of.title }}](/{{ part_of.pid|replace('xyzrins:', '') }}){% endif %}

## People

{% for ass in associated_with if ass.object.schema_type == "xyzri:XYZPerson" and not ass.ended -%}
- {{ ass.object.given_name }}&nbsp;{{ ass.object.family_name }} ({{ ass.roles|join(" and ", attribute="display_label") }})
{% endfor -%}
