---
title: "{{ title }}"
persons:
{% for pid in associated_with|selectattr('object.schema_type', 'eq', 'xyzri:XYZPerson')|map(attribute='object.pid')|map('replace', 'xyzrins:persons/', '')|sort -%}
- {{ pid }}
{% endfor -%}
---

{{ description }}

{% if part_of %}This project is part of{% for p in part_of %} [{{ p.title }}](/{{ p.pid|replace('xyzrins:', '') }}){% endfor %}.{% endif %}

## People

{% for ass in associated_with if ass.object.schema_type == "xyzri:XYZPerson" and not ass.ended -%}
- {{ ass.object.given_name }}&nbsp;{{ ass.object.family_name }} ({% for role in ass.roles %}{{ ', ' if not loop.first }}{{ role.display_label|default(role.name) }}{% endfor -%})
{% endfor -%}

{% if generated|length -%}
## Outputs

{% for gen in generated -%}
- [{{ gen.display_label|default(gen.name) }}]({{ gen.pid|replace('xyzrins:', '/') }})
{% endfor -%}
{% endif %}
