---
title: "{{ display_label }}"
---

{{ description }}

{% if part_of -%}Part of:
{% for item in part_of -%}
- [{{ item.display_label }}](/{{ item.pid.replace('xyzrins:', '') }})
{% endfor %}
{% endif -%}
